body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font-size:12px; font-family: 'Microsoft YaHei';}
input,a{outline:none;}

/* html,body {width: 100%;overflow-x: hidden;} */
li {list-style: none;}
.sy {font-family:'Source Han Sans CN';}
.pf {font-family: PingFangTC-Light, sans-serif;}
.g10 {width: 100%;}
.vm {vertical-align:middle;}
.hide {display: none !important;}
.yahei {font-family: 'Microsoft Yahei';}
.tc {text-align: center;}
.vm {vertical-align: middle}
.block {display: block;}
.b {font-weight:bold;}
.fl {float:left;}
.fr {float:right;}
.dib {display: inline-block;}
.pointer {cursor: pointer;}
.clearfix:after,.clearfix:before{content:" ";display:table}.clearfix:after{clear:both}
:-moz-placeholder {color:#B4B4B4;}
::-moz-placeholder {color:#B4B4B4;}
input {-webkit-appearance: none;}
input:-ms-input-placeholder{color:#B4B4B4;}
input::-webkit-input-placeholder{color:#B4B4B4;}
textarea:-ms-input-placeholder{color:#B4B4B4;}
textarea::-webkit-input-placeholder{color:#B4B4B4;}
.vh {visibility:hidden;}
i {font-style: normal;}



